@media(max-width:440px){
    .header nav ul {
        background-color: #fff;
        opacity: 0.94;
    }
    .header nav{
        position: static;
    }
    .introducao .imagem-cachorro{
        margin: 0 1rem;
    }
    .introducao .imagem-cachorro img {
        width: 90vw;
    }
    .introducao .descricao{
        margin: 0 2.5rem;
    }
    .descricao .titulo-principal {
        font-size: 3rem;
    }
    .clientes .experiencias{
        padding: 0 1rem;
    }
    .carrossel-clientes{
        padding: 0 2rem;
    }
    .carrossel-clientes .seta-avancar {
        padding-right: 2rem;
    }
    .imagens-carrossel{
        width: 70%;
    }
    .areas-atuacao .descricao {
        width: 90%;
    }
    .trajetoria .carrossel-trajetoria{
        padding: 10% 2%;
    }    
}

@media(max-height:950px) {
    .areas-atuacao {
        display: grid;
        grid: "planejamento projetos-culturais pesquisa" 45vh
        "planejamento projetos-culturais pesquisa" 45vh /33.3% 33.3% 33.3%;
    }
    .planejamento {
        grid: 
        "icon-planejamento" 35vh
        "descricao-planejamento" 35vh
        "div-botao-cases" 20vh;
    }
    .projetos-culturais {
        grid:
        "icon-projetos-culturais" 35vh
        "descricao-projetos-culturais"35vh
        "div-botao-cases" 20vh;
    }
    .pesquisa {
        grid:
        "icon-pesquisa" 35vh
        "descricao-pesquisa" 35vh
        "div-botao-cases" 20vh;
    }
}

@media(max-width:1240px){
    .logo{
        min-width: 100px;
        padding: 0 5%;
    }
    .header .fa-linkedin-in{
        margin-right: 1rem;
    }
    .container .introducao{
        flex-direction: column;
        justify-content: center;
        height: auto;  
        margin: 10% 0;      
    } 
    .introducao .imagem-cachorro{
        margin: auto;
    }
    .imagem-cachorro img{
        padding: 2%;        
        width: 90%;
    }
    .descricao .titulo-principal{
        padding-bottom: 5%;
        width: auto;
    }
    .p-descricao{
        width: 90%;
    }
    .sobre{
        flex-direction: column;
    }
    .sobre img {
        width: 100%;
    }
    .sobre .descricao-carreira {
        padding-top: 5%;
        width: 99%;
    }
    .areas-atuacao{
        display: flex;
        flex-direction: column;        
    }
    .planejamento, .projetos-culturais, .pesquisa{
        display: flex;
        align-items: center;
        width:100%;
        padding: 10% 0;
    }
    .areas-atuacao p{
        width: 90%;
    }
    .carrossel-trajetoria{
        padding: 5% 2%;
        
    }
    .carrossel-trajetoria .anos {
        justify-content: space-around;
    }
    .trajetoria{
        display: flex;
        flex-direction: column;
    }
    .anos .ano {
        margin: 5% 3%;
    }
    .redes-sociais nav{
        flex-direction: column;        
    }
    .redes-sociais nav a{
        padding: 1.2rem 0;
    }
}
