body {
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    max-width: 1440px;
    margin: 0 auto;
    color: #232323;
    background-color: #F8F7F0;
}

.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 1% 3%;
}

.header .fa-linkedin-in {
    font-size: 1.8rem;
    color: #0066C8;
    transition: 0.5s ease-in-out;
}

.header .fa-linkedin-in:hover {
    transform: scale(1.2);
    opacity: 0.7;
}

.container {
    display: flex;
    flex-direction: column;
}

.container .introducao {
    display: flex;
    align-items: center;
    height: 85vh;
    justify-content: space-around;
}

.introducao .imagem-cachorro {
    margin-left: 8%;
}

.descricao .titulo-principal {
    font-size: 38px;
    width: 400px;
    padding-bottom: 2%;
}

.introducao .descricao {
    font-size: 20px;
    max-width: 600px;
}

.clientes {
    background-color: #232323;
    color: #F8F7F0;
    font-size: 17px;
}

.clientes .experiencias {
    width: 70%;
    margin: auto;
}

.clientes .experiencias p {
    padding: 5% 0 3%;
}

.carrossel-clientes {
    position: relative;
    display: flex;
    align-items: center;
}

.carrossel-clientes button img {
    max-height: 70px;
}

.seta-voltar,
.seta-avancar {
    position: absolute;
    z-index: 1;
    padding: 0 1%;
    transition: 0.5s ease-in-out;
}

.seta-voltar {
    transform: rotateY(180deg);
}

.seta-avancar {
    right: 0.5%;
}

.seta:hover {
    cursor: pointer;
}

.carrossel-clientes .esconder-setas {
    opacity: 0.6;
    cursor: default;
}

.imagens-carrossel {
    width: 85%;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: row nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.imagens-carrossel::-webkit-scrollbar {
    display: none;
}

.clientes .carrossel-clientes .marca-cliente {
    max-width: 140px;
    max-height: 90px;
    gap: 10px;
    margin: 10px 20px;
}

.sobre {
    display: flex;
    align-items: center;
}

.sobre img {
    height: 90vh;
    width: 50vw;
}

.sobre .descricao-carreira {
    width: 50%;
    padding: 5%;
    font-size: 20px;
}

.descricao-carreira .titulo-apresentacao {
    padding-bottom: 1rem;
}

.descricao-carreira p {
    padding-bottom: 1rem;
}

.areas-atuacao {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: 80vh;
    color: #F8F7F0;
}

.areas-atuacao .descricao {
    width: 65%;
}

.areas-atuacao h3 {
    font-size: 30px;
}

.areas-atuacao p {
    font-size: 17px;
}

.areas-atuacao .planejamento,
.projetos-culturais,
.pesquisa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.areas-atuacao .planejamento {
    background-color: #FD913A;
}

.areas-atuacao .projetos-culturais {
    background-color: #CF86B8;
}

.areas-atuacao .pesquisa {
    background-color: #7EAD42;
}

.trajetoria {
    display: grid;
    grid-template-columns: 66.6% 33.3%;
    grid-template-rows: auto;
}

.trajetoria img {
    width: 100%;
}

.trajetoria .carrossel-trajetoria {
    background-color: #232323;
    color: #F8F7F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carrossel-trajetoria .informacoes {
    width: 80%;
    margin: auto;
}

.informacoes h4 {
    font-size: 30px;
    font-weight: 700;
}

.carrossel-trajetoria .trajetoria-texto {
    display: none;
}

.carrossel-trajetoria .ativa {
    display: block;
    transition: 1s ease-in-out;
}

.carrossel-trajetoria .anos {
    display: flex;
}

.anos .ano {
    margin: 5%;
}

.anos .ano:first-child {
    margin-left: 0;
}

.anos .botao-ano {
    color: #BCAAEF;
    font-weight: 700;
    font-size: 18px;
    opacity: 0.4;

}

.botao-ano:hover {
    cursor: pointer;
    scale: 1.1;
}

.carrossel-trajetoria .titulo {
    font-size: 18px;
    padding: 4% 0;
}

.carrossel-trajetoria p {
    font-size: 16px;
    padding-bottom: 5%;
}

.carrossel-trajetoria .botoes-carrossel {
    display: flex;
    justify-content: center;
}

.botoes-carrossel li {
    margin: 3%;
}

.carrossel-trajetoria .botoes-carrossel .botao {
    background-color: #BCAAEF;
    opacity: 0.4;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    cursor: pointer;
}

.carrossel-trajetoria .selecionado {
    color: #BCAAEF;
    opacity: 1;
}

.carrossel-trajetoria .botoes-carrossel .selecionado {
    color: #BCAAEF;
    opacity: 1;
}

.contatos .contato-whatsapp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contatos h3 {
    font-weight: 800;
    color: #000000;
    font-size: 30px;
    text-align: center;
    padding: 5% 0 2%;
}

.contatos .botao-whatsapp {
    font-size: 18px;
    border: 1px solid #232323;
    border-radius: 15px;
    padding: 12px 50px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.botao-whatsapp:hover {
    transform: scale(1.05);
}

.contato-whatsapp a {
    color: #a393cf;
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.contato-whatsapp a img {
    margin-right: 10px;
}

.redes-sociais {
    width: 85%;
    margin: auto;
}

.redes-sociais h5 {
    font-weight: 700;
    font-size: 20px;
    margin: 7% 0 3%;
}

.redes-sociais nav {
    display: flex;
    justify-content: space-between;
    padding: 2.5% 0;
    border-top: 1px solid #b39bf5;
    border-bottom: 1px solid #b39bf5;
}

.redes-sociais nav a {
    color: #232323;
    font-size: 18px;
}

.redes-sociais nav .icon {
    color: #b39bf5;
    font-size: 25px;
    padding-right: 3%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .creditos {
    padding: 2% 0;
}

.creditos .copyright {
    text-transform: uppercase;
}

footer p {
    padding: 2px 0;
    font-size: 0.8rem;
    text-align: center;
}

footer a {
    color: #524771;
}

footer img {
    width: 150px;
    padding-bottom: 30px;
}