html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    /* max-width: 1440px; */
    margin: 0 auto;
    color: #232323;
    background-color: #F8F7F0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1% 3%;
}

.header .fa-linkedin-in {
    font-size: 2.8rem;
    color: #0066C8;
    transition: 0.5s ease-in-out;
}

.header .fa-linkedin-in:hover {
    transform: scale(1.2);
    opacity: 0.7;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.container .introducao {
    display: flex;
    align-items: center;
    height: 85vh;
    justify-content: space-around;
}

.introducao .imagem-cachorro {
    margin: 0 3% 0 8%;
}

.descricao .titulo-principal {
    font-size: 3.8rem;
    width: 400px;
    padding-bottom: 2rem;
}

.introducao .descricao {
    font-size: 2rem;
    max-width: 600px;
}

.clientes {
    background-color: #232323;
    color: #F8F7F0;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
}

.clientes .experiencias {
    width: 90%;
    padding: 0 3rem;
    margin: auto;
}

.clientes .experiencias p {
    padding: 5% 0 3%;
}

.carrossel-clientes {
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 1;
}

.carrossel-clientes button img {
    max-height: 35px;
}

.seta-voltar,
.seta-avancar {
    position: absolute;
    z-index: 1;
    padding: 0 1%;
    transition: 0.5s ease-in-out;
}

.seta-voltar {
    transform: rotateY(180deg);
}

.seta-avancar {
    right: 0.5%;
}

.seta:hover {
    cursor: pointer;
}

.carrossel-clientes .esconder-setas {
    opacity: 0.6;
    cursor: default;
}

.imagens-carrossel {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    margin: 0 auto;
    overflow-x: auto;
    padding: 2rem 1rem;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 90%;
}

.imagens-carrossel::-webkit-scrollbar {
    display: none;
}

.carrossel-clientes .marca-cliente {
    max-width: 130px;
    max-height: 90px;
    gap: 10px;
    margin: 10px 20px;
}

.imagens-carrossel .imagem-atual{
    border-bottom: 1px solid #fff;
    padding-bottom: 1rem;
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.sobre {
    display: flex;
    align-items: center;
}

.sobre img {
    height: auto;
    width: 50%;
}

.sobre .descricao-carreira {
    width: 50%;
    padding: 0 2% 0 5%;
    font-size: 2rem;
}

.descricao-carreira .titulo-apresentacao {
    padding-bottom: 2rem;
}

.descricao-carreira p {
    padding-bottom: 2rem;
}

.areas-atuacao {
    display: grid;
    grid: "planejamento projetos-culturais pesquisa" 40vh "planejamento projetos-culturais pesquisa" 40vh /33.3% 33.3% 33.3%;
    color: #F8F7F0;
    align-items: start;
}

.areas-atuacao .descricao {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.areas-atuacao h3 {
    font-size: 3rem;
    padding-bottom: 1rem;
}

.areas-atuacao p {
    font-size: 1.7rem;
}

.planejamento,
.projetos-culturais,
.pesquisa {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: center;
}

.planejamento {
    background-color: #FD913A;
    grid-area: planejamento;
    display: grid;
    grid: "icon-planejamento" 40vh "descricao-planejamento" 40vh;
    justify-items: center;
}

.icon-planejamento  {
    grid-area: icon-planejamento;
    margin: auto;
    padding: 3rem 0;
}


.descricao-planejamento {
    grid-area: descricao-planejamento;
}

.projetos-culturais {
    background-color: #CF86B8;
    display: grid;
    grid: "icon-projetos-culturais" 40vh "descricao-projetos-culturais" 40vh;
    justify-items: center;
    grid-area: projetos-culturais;
}

.icon-projetos-culturais {
    grid-area: icon-projetos-culturais;
    margin: auto;
    padding: 3rem 0;

}

.descricao-projetos-culturais {
    grid-area: descricao-projetos-culturais;
}

.pesquisa {
    background-color: #7EAD42;
    display: grid;
    grid: "icon-pesquisa" 40vh "descricao-pesquisa" 40vh;
    justify-items: center;
    grid-area: pesquisa;
}

.icon-pesquisa {
    margin: auto;
    grid-area: icon-pesquisa;
    padding: 3rem 0;
}

.descricao-pesquisa {
    grid-area: descricao-pesquisa;
}

.trajetoria {
    display: grid;
    grid-template-columns: 66.6% 33.3%;
    grid-template-rows: auto;
}

.trajetoria img {
    width: 100%;
    height: 100%;
}

.trajetoria .carrossel-trajetoria {
    background-color: #232323;
    color: #F8F7F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carrossel-trajetoria .informacoes {
    width: 80%;
    margin: auto;
}

.informacoes h4 {
    font-size: 30px;
    font-weight: 700;
    margin: 1rem 0;
}

.carrossel-trajetoria .trajetoria-texto {
    display: none;
    min-height: 250px;
}

.carrossel-trajetoria .ativa {
    display: block;
    transition: 1s ease-in-out;
}

.carrossel-trajetoria .anos {
    display: flex;
    justify-content: center;
}

.anos .ano {
    margin: 5%;
}

.anos .botao-ano {
    color: #BCAAEF;
    font-weight: 700;
    font-size: 1.8rem;
    opacity: 0.4;
}

.botao-ano:hover {
    cursor: pointer;
    scale: 1.1;
}

.carrossel-trajetoria .titulo {
    font-size: 1.8rem;
    padding: 4% 0;
}

.carrossel-trajetoria p {
    font-size: 1.6rem;
    padding-bottom: 5%;
}

.carrossel-trajetoria .botoes-carrossel {
    display: flex;
    justify-content: center;
}

.botoes-carrossel li {
    margin: 3%;
}

.carrossel-trajetoria .botoes-carrossel .botao {
    background-color: #BCAAEF;
    opacity: 0.4;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    cursor: pointer;
}

.carrossel-trajetoria .selecionado {
    color: #BCAAEF;
    opacity: 1;
}

.carrossel-trajetoria .botoes-carrossel .ativo {
    color: #BCAAEF;
    opacity: 1;
}

.contatos .contato-whatsapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% auto;
}

.contatos h3 {
    font-weight: 800;
    color: #000000;
    font-size: 3.0rem;
    text-align: center;
    padding: 5% 0 2%;
}

.contatos .botao-whatsapp {
    font-size: 1.8rem;
    border: 1px solid #232323;
    border-radius: 15px;
    padding: 12px 50px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.botao-whatsapp:hover {
    transform: scale(1.05);
}

.contato-whatsapp a {
    color: #a393cf;
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.contato-whatsapp a img {
    margin-right: 10px;
}

.redes-sociais {
    width: 85%;
    margin: auto;
}

.redes-sociais h5 {
    font-weight: 700;
    font-size: 2rem;
    margin: 2rem 0;
}

.redes-sociais nav {
    display: flex;
    justify-content: space-between;
    padding: 2.5% 0;
    border-top: 1px solid #b39bf5;
    border-bottom: 1px solid #b39bf5;
}

.redes-sociais nav a {
    color: #232323;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    transition: 0.5s ease-in-out;
}
.redes-sociais nav a:hover {
    opacity: 0.7;
}

.redes-sociais nav .icon {
    color: #b39bf5;
    font-size: 2rem;
    margin-right: 1rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .creditos {
    padding: 2% 0;
}

.creditos .copyright {
    text-transform: uppercase;
}

footer p {
    padding: 2px 0;
    font-size: 1.2rem;
    text-align: center;
}

footer a {
    color: #524771;
}

footer img {
    width: 150px;
    padding-bottom: 30px;
}